body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:burlywood;
    flex-direction: column;
}

canvas{
    margin-top: 100px;
    background-color: rgb(181, 240, 240);
    border-radius: 60px;
    box-shadow: 15px 15px 15px rgb(163, 135, 98);
}
